 <div class="container-fluid">
  <div id="vm-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#vm-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#vm-carousel" data-slide-to="1"></li>
      <li data-target="#vm-carousel" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
          <img src="http://www.vmovier.com/Uploads/Banner/2014/04/04/533e2bc96a8dd.jpg" alt="">
          <div class="carousel-caption"></div>
      </div>
      <div class="item">
        <img src="http://www.vmovier.com/Uploads/Banner/2014/03/31/5338d127325ee.jpg" alt="">
        <div class="carousel-caption"></div>
      </div>
      <div class="item">
          <img src="http://www.vmovier.com/Uploads/Banner/2014/03/27/533383ba2b441.jpg" alt="">
          <div class="carousel-caption"></div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#vm-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#vm-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div id="content">
    <div class="left-col">
      <div class="recommend">
        <h2><i class="fa fa-crosshairs"></i><a href="#">特别推荐</a></h2>
        <ul class="video-list clearfix mb30">
          <li>
            <div class="list-image">
              <a href="http://www.xinpianchang.com/a4829" class="work-img" target="_blank"><img src="http://www.xinpianchang.com/uploadfile/article/2014/04/07/53423ed859feb_225.jpeg" alt="“爸爸去哪儿”－《被超人绑架的爸爸》"></a>
            </div>
            <div class="list-desc">
              <a href="http://www.xinpianchang.com/a4829" class="overdot work-title" target="_blank">“爸爸去哪儿”－《被超人绑架的爸爸》</a>
            </div>
          </li>
          <li>
            <div class="list-image">
              <a href="http://www.xinpianchang.com/a4826" class="work-img" target="_blank"><img src="http://www.xinpianchang.com/uploadfile/article/2014/04/08/5343b6e3d1005_225.jpeg" alt="&lt;高山雨露&gt;战争史诗微电影"></a>
            </div>
            <div class="list-desc">
              <a href="http://www.xinpianchang.com/a4826" class="overdot work-title" target="_blank">&lt;高山雨露&gt;战争史诗微电影</a>
            </div>
          </li>
          <li>
            <div class="list-image">
              <a href="http://www.xinpianchang.com/a4827" class="work-img" target="_blank"><img src="http://www.xinpianchang.com/uploadfile/article/2014/04/07/534236ae3c02c_225.jpeg" alt="童话微电影《梦幻岛的天气预报员》"></a>
            </div>
            <div class="list-desc">
              <a href="http://www.xinpianchang.com/a4827" class="overdot work-title" target="_blank">童话微电影《梦幻岛的天气预报员》</a>
            </div>
          </li>
          <li>
            <div class="list-image">
              <a href="http://www.xinpianchang.com/a4828" class="work-img" target="_blank"><img src="http://www.xinpianchang.com/uploadfile/article/2014/04/07/53423c5824e71_225.jpeg" alt="真人版“多啦A梦”－《玛丽的自然卷世界》"></a>
            </div>
            <div class="list-desc">
              <a href="http://www.xinpianchang.com/a4828" class="overdot work-title" target="_blank">真人版“多啦A梦”－《玛丽的自然卷世界》</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="festival">
        <h2><i class="fa fa-video-camera"></i><a href="#">电影节精选</a></h2>
        <div class="poster-wrapper">
          <div class=" poster-left poster">
            <img src="http://www.vmovier.com/Uploads/Banner/2014/03/31/5338d127325ee.jpg" alt="">
            <div class="contenthover">
              <h3>《玛丽的自然卷世界》</h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pulvinar ante quis augue lobortis volutpat. </p>
              <p><a href="#" class="mybutton">Lorem ipsum</a></p>
            </div>
          </div>
          <div class="poster-right-up poster">
            <img src="http://party.img.vmovier.com/uploads/2014/03/daoyanxiehui.jpg" alt="">
            <div class="contenthover">
              <h3>《梦幻岛的天气预报员》</h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pulvinar ante quis augue lobortis volutpat. </p>
              <p><a href="#" class="mybutton">Lorem ipsum</a></p>
            </div>
          </div>
          <div class="poster-right-bottom poster">
            <img src="http://www.vmovier.com/Uploads/Banner/2014/03/27/533383ba2b441.jpg" alt="">
            <div class="contenthover">
              <h3>《被超人绑架的爸爸》</h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pulvinar ante quis augue lobortis volutpat. </p>
              <p><a href="#" class="mybutton">Lorem ipsum</a></p>
            </div>
          </div>
          <div></div>
        </div>
      </div>
      <div class="ongoing">
        <h2><i class="fa fa-clock-o"></i><a href="#">正在进行的项目</a></h2>
        <ul class="ongoing-filter">
          <li class="active"><a href="#">微电影</a></li>
          <li><a href="#">短片</a></li>
        </ul>
        <div class="project-list">
          <div class="project">
            <div class="project-card-wrap">
              <div class="project-card">
                <div class="project-thumbnail">
                  <a href="#" target="">
                    <img alt="Photo-little" class="projectphoto-little" height="150" src="https://s3.amazonaws.com/ksr/projects/922073/photo-little.jpg?1395673838" width="160">
                  </a>
                </div>
                <h2 class="bbcard_name">
                  <strong>
                    <a href="/projects/donhejny/nerdwax-it-keeps-your-glasses-up?ref=home_popular" target="">Nerdwax : It Keeps Your Glasses Up!</a>
                  </strong>
                  <span>
                  by
                  Don Hejny
                  </span>
                </h2>
                <p class="bbcard_blurb">
                  Nerdwax is a beeswax based blend of All Natural and Certified Organic ingredients specially formulated to keep your glasses in place.
                </p>
                <ul class="project-meta">
                  <li>
                    <span class="fa fa-map-marker"></span>
                    <span class="location-name">Chapel Hill, NC</span>
                  </li>
                </ul>
                <div class="project-pledged-successful" style="display: none;">
                  <strong>Successful!</strong>
                </div>
                <div class="project-pledged-wrap">
                  <div class="project-pledged" style="width: 100%"></div>
                </div>
                <ul class="project-stats">
                  <li class="first funded">
                    <strong>187%</strong>
                    funded
                  </li>
                  <li class="pledged">
                    <strong><span class="money usd no-code">$18,789</span></strong>
                    pledged
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="project">
            <div class="project-card-wrap">
              <div class="project-card">
                <div class="project-thumbnail">
                  <a href="#" target="">
                    <img alt="Photo-little" class="projectphoto-little" height="150" src="https://s3.amazonaws.com/ksr/projects/922073/photo-little.jpg?1395673838" width="160">
                  </a>
                </div>
                <h2 class="bbcard_name">
                  <strong>
                    <a href="/projects/donhejny/nerdwax-it-keeps-your-glasses-up?ref=home_popular" target="">Nerdwax : It Keeps Your Glasses Up!</a>
                  </strong>
                  <span>
                  by
                  Don Hejny
                  </span>
                </h2>
                <p class="bbcard_blurb">
                  Nerdwax is a beeswax based blend of All Natural and Certified Organic ingredients specially formulated to keep your glasses in place.
                </p>
                <ul class="project-meta">
                  <li>
                    <span class="fa fa-map-marker"></span>
                    <span class="location-name">Chapel Hill, NC</span>
                  </li>
                </ul>
                <div class="project-pledged-successful" style="display: none;">
                  <strong>Successful!</strong>
                </div>
                <div class="project-pledged-wrap">
                  <div class="project-pledged" style="width: 100%"></div>
                </div>
                <ul class="project-stats">
                  <li class="first funded">
                    <strong>187%</strong>
                    funded
                  </li>
                  <li class="pledged">
                    <strong><span class="money usd no-code">$18,789</span></strong>
                    pledged
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="project">
            <div class="project-card-wrap">
              <div class="project-card">
                <div class="project-thumbnail">
                  <a href="#" target="">
                    <img alt="Photo-little" class="projectphoto-little" height="150" src="https://s3.amazonaws.com/ksr/projects/922073/photo-little.jpg?1395673838" width="160">
                  </a>
                </div>
                <h2 class="bbcard_name">
                  <strong>
                    <a href="/projects/donhejny/nerdwax-it-keeps-your-glasses-up?ref=home_popular" target="">Nerdwax : It Keeps Your Glasses Up!</a>
                  </strong>
                  <span>
                  by
                  Don Hejny
                  </span>
                </h2>
                <p class="bbcard_blurb">
                  Nerdwax is a beeswax based blend of All Natural and Certified Organic ingredients specially formulated to keep your glasses in place.
                </p>
                <ul class="project-meta">
                  <li>
                    <span class="fa fa-map-marker"></span>
                    <span class="location-name">Chapel Hill, NC</span>
                  </li>
                </ul>
                <div class="project-pledged-successful" style="display: none;">
                  <strong>Successful!</strong>
                </div>
                <div class="project-pledged-wrap">
                  <div class="project-pledged" style="width: 100%"></div>
                </div>
                <ul class="project-stats">
                  <li class="first funded">
                    <strong>187%</strong>
                    funded
                  </li>
                  <li class="pledged">
                    <strong><span class="money usd no-code">$18,789</span></strong>
                    pledged
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="project">
            <div class="project-card-wrap">
              <div class="project-card">
                <div class="project-thumbnail">
                  <a href="#" target="">
                    <img alt="Photo-little" class="projectphoto-little" height="150" src="https://s3.amazonaws.com/ksr/projects/922073/photo-little.jpg?1395673838" width="160">
                  </a>
                </div>
                <h2 class="bbcard_name">
                  <strong>
                    <a href="/projects/donhejny/nerdwax-it-keeps-your-glasses-up?ref=home_popular" target="">Nerdwax : It Keeps Your Glasses Up!</a>
                  </strong>
                  <span>
                  by
                  Don Hejny
                  </span>
                </h2>
                <p class="bbcard_blurb">
                  Nerdwax is a beeswax based blend of All Natural and Certified Organic ingredients specially formulated to keep your glasses in place.
                </p>
                <ul class="project-meta">
                  <li>
                    <span class="fa fa-map-marker"></span>
                    <span class="location-name">Chapel Hill, NC</span>
                  </li>
                </ul>
                <div class="project-pledged-successful" style="display: none;">
                  <strong>Successful!</strong>
                </div>
                <div class="project-pledged-wrap">
                  <div class="project-pledged" style="width: 100%"></div>
                </div>
                <ul class="project-stats">
                  <li class="first funded">
                    <strong>187%</strong>
                    funded
                  </li>
                  <li class="pledged">
                    <strong><span class="money usd no-code">$18,789</span></strong>
                    pledged
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-col">
      <div class="news shadowbox">
        <ul>
          <h1>最新资讯
            <!-- <a href="http://www.pmovie.com/news/" target="_blank">更多&gt;</a> -->
            <a href="<%= articles_path %>" target="_blank"><i class="fa fa-chevron-right"></i></a>
          </h1>
          <li>
            <span>1</span>
            <a href="http://www.pmovie.com/article-2153-1.html" title="大地院线学麦当劳开连锁店 专盯二、三线市场" target="_blank">大地院线学麦当劳开连锁店 </a>
            <em>04-08</em>
          </li>
          <li>
            <span>2</span>
            <a href="http://www.pmovie.com/article-2152-1.html" title="儿童录综艺节目引争论 出名趁早？少干扰童年？" target="_blank">儿童录综艺节目引争论 出名</a>
            <em>04-08</em>
          </li>
          <li>
            <span>3</span>
            <a href="http://www.pmovie.com/article-2151-1.html" title="总局严打微电影 创作者：从此拒绝情色擦边球" target="_blank">总局严打微电影 创作者：从</a>
            <em>04-08</em>
          </li>
          <li>
            <span>4</span>
            <a href="http://www.pmovie.com/article-2150-1.html" title="港星审美疲劳：一年见的次数比我亲妈还多" target="_blank">港星审美疲劳：一年见的次</a>
            <em>04-08</em>
          </li>
          <li>
            <span>5</span>
            <a href="http://www.pmovie.com/article-2149-1.html" title="盛大转让酷6四成股权 三大疑团待解" target="_blank">盛大转让酷6四成股权 三大</a>
            <em>04-04</em>
          </li>
          <li>
            <span>6</span>
            <a href="http://www.pmovie.com/article-2148-1.html" title="娱乐宝首期7800万产品售罄 共22.38万网友投资" target="_blank">娱乐宝首期7800万产品售罄 </a>
            <em>04-04</em>
          </li>
          <li>
            <span>7</span>
            <a href="http://www.pmovie.com/article-2147-1.html" title="演员片酬缩水美国向东瞅 大波好莱坞大牌来华" target="_blank">演员片酬缩水美国向东瞅 大</a>
            <em>04-04</em>
          </li>
          <li style="overflow:hidden;height:24px;line-height:24px;">
            <span>8</span>
            <a href="http://www.pmovie.com/article-2146-1.html" title="新京报：姚笛是最大输家 输舆论又输文章" target="_blank">新京报：姚笛是最大输家 输</a>
            <em>04-02</em>
          </li>
          <li>
            <span>9</span>
            <a href="http://www.pmovie.com/article-2145-1.html" title="陈可辛谈演员片酬：&quot;谁都逃不过市场&quot;" target="_blank">陈可辛谈演员片酬："谁都逃</a>
            <em>04-01</em>
          </li>
          <li>
            <span>10</span>
            <a href="http://www.pmovie.com/article-2144-1.html" title="韩国电影在华票房遇冷 韩导:观众口味不同" target="_blank">韩国电影在华票房遇冷 韩导</a>
            <em>04-01</em>
          </li>
        </ul>
      </div>
      <div class="news shadowbox events">
        <ul>
          <h1>最新活动
            <!-- <a href="http://www.pmovie.com/news/" target="_blank">更多&gt;</a> -->
            <a href="http://www.pmovie.com/news/" target="_blank"><i class="fa fa-chevron-right"></i></a>
          </h1>
          <li>
            <a class="rmhdimg" href="forum.php?mod=viewthread&amp;tid=27754" title="【讲座】刘永泗教授作客拍电电网" target="_blank">
              <img src="http://www.fqpai.com/wp-content/themes/fqp-three/includes/timthumb.php?src=/wp-content/uploads/2014/04/png1&h=174&w=294&zc=1&q=100" width="105" height="80" alt="【讲座】刘永泗教授作客拍电电网">
            </a>
            <div class="rmhdcont">
              <p>
                <a href="forum.php?mod=viewthread&amp;tid=27754" title="【讲座】刘永泗教授作客拍电电网" target="_blank">【讲座】刘永泗教授作客拍电电网
                </a>
              </p>
              <a class="rmhdcona btn btn-info" href="forum.php?mod=viewthread&amp;tid=27754" title="【讲座】刘永泗教授作客拍电电网" target="_blank">立即参与
              </a>
            </div>
          </li>
          <li>
            <a class="rmhdimg" href="forum.php?mod=viewthread&amp;tid=27611" title="4月影片分析活动：“光影中的张国荣”（附电影全集下载）" target="_blank">
              <img src="http://www.fqpai.com/wp-content/themes/fqp-three/includes/timthumb.php?src=/wp-content/uploads/2014/04/QQ%E6%88%AA%E5%9B%BE20140405102602.png&h=74&w=104&zc=1&q=100" width="105" height="80" alt="4月影片分析活动：“光影中的张国荣”（附电影全集下载）">
            </a>
            <div class="rmhdcont">
              <p>
                <a href="forum.php?mod=viewthread&amp;tid=27611" title="4月影片分析活动：“光影中的张国荣”（附电影全集下载）" target="_blank">4月影片分析活动：“光影中的张
                </a>
              </p>
              <a class="rmhdcona btn btn-info" href="forum.php?mod=viewthread&amp;tid=27611" title="4月影片分析活动：“光影中的张国荣”（附电影全集下载）" target="_blank">立即参与
              </a>
            </div>
          </li>
        </ul>
      </div>
            <div class="news shadowbox mini-project">
        <ul>
          <h1>一句话项目
            <!-- <a href="http://www.pmovie.com/news/" target="_blank">更多&gt;</a> -->
            <a href="http://www.pmovie.com/news/" target="_blank"><i class="fa fa-chevron-right"></i></a>
          </h1>
          <li>
            <span>1</span>
            <a href="http://www.pmovie.com/article-2153-1.html" title="大地院线学麦当劳开连锁店 专盯二、三线市场" target="_blank">项目1 </a>
            <em>04-08</em>
          </li>
          <li>
            <span>2</span>
            <a href="http://www.pmovie.com/article-2152-1.html" title="儿童录综艺节目引争论 出名趁早？少干扰童年？" target="_blank">项目2</a>
            <em>04-08</em>
          </li>
          <li>
            <span>3</span>
            <a href="http://www.pmovie.com/article-2151-1.html" title="总局严打微电影 创作者：从此拒绝情色擦边球" target="_blank">项目3</a>
            <em>04-08</em>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
 <div id="footer-wrapper">
   <div id="footer-inner">
     <div id="footer-partners-wrapper">
       <h3>Our partners</h3>
       <div id="footer-partners-inner">
         <div id="footer-partners">
           <ul class="bx-slider">
             <li>
               <a href="http://www.zouba123.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/10/zouba_406810305_11_31_logo.jpg">
               </a>
             </li>

             <li>
               <a href="http://www.nuandao.com/?utm_campaign=campaign1&amp;utm_medium=banner&amp;utm_source=fqpai&amp;utm_content=260x130" target="_blank">
                 <img src="http://www.fqpai.com/img/nuandaologo.jpg">
               </a>
             </li>


             <li>
               <a href="http://mall.boluopai.cn" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2014/03/bolo_03_22-04_22.jpg">
               </a>
             </li>


             <li>
               <a href="http://tinyear.tmall.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/08/tin2.jpg">
               </a>
             </li>


             <li>
               <a href="http://joyce2010.taobao.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/08/12191920logo_09_03.jpg">
               </a>
             </li>
             <li>
               <a href="http://shadilan.tmall.com/?spm=a1z10.1.0.0.e2aPve" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/11/2351136901_12_13_logo.jpg">
               </a>
             </li>


             <li>
               <a href="http://wanqianxiangshui.taobao.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/09/794792201_12_5_logo.jpg">
               </a>
             </li>


             <li>
               <a href="http://huodong.maimai.taobao.com/go/activities/cdn/page/1000068033/24914/viewPag.html" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/09/307748848_10_11.png">
               </a>
             </li>


             <li>
               <a href="http://www.yetang.com/?utm_campaign=campaign1&amp;utm_medium=banner&amp;utm_source=fqpai" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/09/yetanglogo.jpg">
               </a>
             </li>


             <li>
               <a href="http://xiaobao2046.taobao.com/?xn=fqpai" target="_blank">
                 <img src="http://www.fqpai.com/img/xiaobaologo_10-27_11-27.jpg">
               </a>
             </li>


             <li>
               <a href="http://www.zouba123.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/10/zouba_406810305_11_31_logo.jpg">
               </a>
             </li>

             <li>
               <a href="http://www.nuandao.com/?utm_campaign=campaign1&amp;utm_medium=banner&amp;utm_source=fqpai&amp;utm_content=260x130" target="_blank">
                 <img src="http://www.fqpai.com/img/nuandaologo.jpg">
               </a>
             </li>
             <li>
               <a href="http://mall.boluopai.cn" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2014/03/bolo_03_22-04_22.jpg">
               </a>
             </li>
             <li>
               <a href="http://tinyear.tmall.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/08/tin2.jpg">
               </a>
             </li>
             <li>
               <a href="http://joyce2010.taobao.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/08/12191920logo_09_03.jpg">
               </a>
             </li>
             <li>
               <a href="http://shadilan.tmall.com/?spm=a1z10.1.0.0.e2aPve" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/11/2351136901_12_13_logo.jpg">
               </a>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>