<div class="container">
	<div class="articles-header">
    	<h2>项目</h2>
  	</div>
  	<div class="projects-wrapper">
	    <ul class="project-nav">
			<li class="active"><a href="#project" data-toggle="tab">拍摄计划</a></li>
			<li><a href="#mini-project" data-toggle="tab">一句话项目</a></li>
		</ul>
		<div class="tab-content">
		  <div class="tab-pane active" id="projects">
		  	
		  </div>
		  <div class="tab-pane" id="tickets">
		  	
		  </div>
		</div>
	</div>
</div>