<div class="wrapper user-login">
  <div class="login-wrapper">
    <div class="modal-title title">Promoker 登录</div>
    <div class="login-auth">
      <ul>
        <li class="weibo">
          <a href="#">
            <i class="fa fa-weibo"></i>
          </a>
        </li>
        <li class="facebook">
          <a href="#">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="twitter">
          <a href="#" class="">
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
        <li class="google">
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>
    <%# end %>
    <div class="divider"></div>
    <div id="login">
      <%= form_for resource, :url => session_path(resource_name), :html => {:id => 'login-form'} do |f| %>
        <fieldset class="clearfix">
          <p>
            <span class="fontawesome-user"></span>
            <%= f.text_field :email, :autofocus => true, :placeholder => '邮箱' %>
            <!--<input type="text" placeholder="用户名" required>-->
          </p>
          <p>
            <span class="fontawesome-lock"></span>
            <%= f.password_field :password, :placeholder => '密码' %>
            <!--<input type="password"  placeholder="密码" required>-->
          </p>
          <p>
            <%= f.submit '登录' %>
            <!--<input type="submit" value="登录">-->
          </p>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>