.container {
    width: 960px;
    margin: 60px auto;
}

div.projects-wrapper {
    background: white;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(34, 25, 25, 0.2);
}
ul.project-nav li {
    display: inline-block;
    margin: 5px;
  	padding-right: 15px;
}

.project-nav a {
  color: #999;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 5px;
}

.project-nav li.active a {
  color: #F57070;
  border-bottom: 2px solid #F57070;
}

.project-nav li:hover a {
  color: #F57070;
}

td.ticket-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
td.ticket-user {
    text-align: center;
}

.edit-project span.tag {
  font-size: 14px;
  border-radius: 3px;
  margin: 3px;
  padding: 3px 6px;
  display: inline-block;
  cursor: pointer;
}
.edit-project span.tag.selected {
    background: #83AAA2;    
    color: white;
}
.edit-project span.tag:hover {
    background: #83AAA2;    
    color: white;
}


.edit-project {
  margin: 10px auto;
  width: 960px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(34, 25, 25, 0.2);
  padding: 20px;
}

div#preview {
  width: 240px;
  position: fixed;
  top: 100px;
  right: 200px;
}

div.projects-header {
    margin: 60px auto;
    margin-bottom: 0px;
    width: 960px;
    font-size: 18px;
    font-weight: bold;
}

div.project-save {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 60px;
    background: rgba(44, 44, 44, 0.8);
    padding: 5px;
    z-index: 9999;
}
.project-save a {
    margin-right: 10px;
    float: right;
    position: relative;
    top: 8px;
    padding: 8px 30px;
    color: #FFF;
    background: #8FBC8F;
}

.project-save a:hover {
    color: #FFF;
    background: #8FBC8F; 
}

select#project_movie_type {
    position: relative;
    top: 6px;
}

div.project-page {
    width: 960px;
    margin: 80px auto;
}
.project-page-title h1 {
  font-size: 20px;
  font-weight: bold;
}

div.project-page-title {
    text-align: center;
    margin-bottom: 10px;
}

div.project-page-left {
    box-shadow: 0 1px 4px rgba(34, 25, 25, 0.2);
    display: inline-block;
    width: 700px;
    background: white;
}

.project-page-content .project-page-text {
    padding: 20px;
}
.project-page-text h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #bbb;
}

div.project-page-right {
    display: inline-block;
    vertical-align: top;
}
div.project-page-basic {
    padding: 10px;
    background: white;
    box-shadow: 0 1px 4px rgba(34, 25, 25, 0.2);
    margin-bottom: 10px;
    width: 200px;
    margin-left: 10px;
}

div.project-page-right {
    display: inline-block;
    vertical-align: top;
}
div.project-page-basic {
    padding: 10px;
    background: white;
    box-shadow: 0 1px 4px rgba(34, 25, 25, 0.2);
    margin-bottom: 10px;
    width: 200px;
    margin-left: 10px;
}
.project-page-basic h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #bbb;
}

div.back {
    position: relative;
    float: left;
    left: 20px;
}

#projects .project-list .project {
    float: none;
    display: inline-block;
    width: 240px;
    margin: 20px;
}

.project-thumbnail {
  width: 220px;
  height: 150px;
  overflow: hidden;
}

.project-thumbnail img {
  width: 220px;
}