.container {
    width: 960px;
    margin: 60px auto;
}

div.projects-wrapper {
    background: white;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(34, 25, 25, 0.2);
}
ul.project-nav li {
    display: inline-block;
    margin: 5px;
  	padding-right: 15px;
}

.project-nav a {
  color: #999;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 5px;
}

.project-nav li.active a {
  color: #F57070;
  border-bottom: 2px solid #F57070;
}

.project-nav li:hover a {
  color: #F57070;
}
