.account-settings {
  width: 960px;
  margin: 80px auto;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  padding: 20px;
}

#oauth a {
  color: #444;
}

.account-settings .tab-content {
  padding: 20px 20px 0px 20px;
}

.account-settings .region {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.account-tabs {
  display: inline-block;
  width: 700px;
}
.account-preview {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 200px;
  text-align: center;
}

.account-preview .role {
  color: #999;
  font-size: 12px;
}

.account-preview .actions a {
  color: white;
}
.account-preview .actions a i {
  margin-right: 6px;
}

.account-preview .location {
  color: #999;
  font-size: 11px;
}
.account-preview .actions {
  margin-top: 10px;
}
.account-preview .avatar {
  border: 1px solid #BBB;
  border-radius: 50%;
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.account-preview .avatar img {
  width: 160px;
}
.account-preview .location i {
  margin-right: 5px;
}

#basic input[type="submit"] {
  padding: 8px 30px;
  font-size: 15px;
}


#oauth i {
  font-size: 30px;
  color: grey;
}
#oauth ul > li {
  display: inline-block;
  margin: 20px;
  width: 40px;
  text-align: center;
}

#oauth > ul > li > a {
  font-size: 13px;
  text-decoration: none;
  position: relative;
  right: 3px;
  top: 5px;
}

#oauth > ul > li.bind > a {
  background-color: #C2A377;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#oauth > ul > li.bind i {
  color: rgb(218, 62, 62);
}

#oauth > ul > li > a:hover {
  background-color: #C2A377;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.user-wrapper {
  width: 1060px;
  margin: 80px auto;
  padding: 20px;
}

#user-content {
  background-color: white;
  width: 800px;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  padding: 20px;
}

#user-profile {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  background-color: #FFF;
  padding: 10px;
}
#user-profile .avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#user-profile .avatar img {
  width: 160px;
}
#user-profile .location i {
  margin-right: 5px;
}

#user-profile .role {
  color: #999;
  font-size: 12px;
}

#user-profile .actions a {
  color: white;
}
#user-profile .actions a i {
  margin-right: 6px;
}

#user-profile .location {
  color: #999;
  font-size: 11px;
}
#user-profile .actions {
  margin-top: 10px;
}

.user-nav {
  margin-bottom: 10px;
}

.user-nav a {
  color: #999;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 5px;
}

.user-nav li.active a {
  color: #F57070;
  border-bottom: 2px solid #F57070;
}

.user-nav li a:hover {
  color: #F57070;
}

.user-nav li {
  display: inline-block;
  margin: 5px;
  padding-right: 15px;
}


#message-modal .form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.account-preview .about {
    font-size: 12px;
    color: #999;
    margin: 5px auto;
    width: 90%;
}

#user-profile .about {
    font-size: 12px;
    color: #999;
    margin: 5px auto;
    width: 90%;
}

.about-divider {
    border-bottom: 1px solid #eee;
    width: 90%;
    margin: 0px auto;
}

.user-like div.user-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}
.user-like div.user-avatar img {
    width: 40px;
    height: 40px;
}
.user-like div.user-like-info {
  display: inline-block;
  margin-left: 5px;
  width: 90%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}
div.user-nickname {
    font-weight: bold;
}

div.user-like-detail {
    background: rgb(231, 231, 231);
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}
div.user-like-thumb {
    display: inline-block;
    max-height: 150px;
    overflow: hidden;
}
div.user-like-thumb img {
    width: 200px;
}

div.user-like-date {
    color: #999;
    font-size: 13px;
    margin-left: 10px;
}

div.user-like-desc {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin-left: 10px;
}

div.user-like-title {
    font-size: 14px;
    margin-bottom: 5px;
}

div.user-like-title a {
  color: #BE7356;
}

div.user-like-summary {
    font-size: 13px;
    color: #999;
}

.user-wrapper div#user-projects ul li {
  display: inline-block;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
}

.user-wrapper div#user-projects ul li a {
  color: #999;
  text-decoration: none;
}

.user-wrapper div#user-projects ul li.active {
  background: orange;
}

.user-wrapper div#user-projects ul li.active a {
  color: white;
}

input#files {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
}
div.fileUpload {
  position: relative;
}

.fileUpload span {
  position: relative;
  color: #999;
}



div#holder {
  position: relative;
  text-align: center;
  height: 300px;
  border: 1px solid #CCC;
  width: 300px;
  margin-top: 10px;
  background: #F5F5F5;
}

// #holder img {
//   height: 300px;
// }

#holder span {
  position: relative;
  top: 130px;
  font-size: 15px;
  color: #999;
}

#holder i.fa.fa-cloud-upload {
  position: absolute;
  font-size: 140px;
  color: #E9E9E9;
  top: 90px;
  left: 70px;
}

.edit-user span.tag {
  font-size: 14px;
  border-radius: 3px;
  margin: 3px;
  padding: 3px 6px;
  display: inline-block;
  cursor: pointer;
}
.edit-user span.tag.selected {
    background: #83AAA2;    
    color: white;
}
.edit-user span.tag:hover {
    background: #83AAA2;    
    color: white;
}

.edit-user a {
  color: white;
}

div.upload-wrapper {
    display: inline-block;
    vertical-align: top;
}
div.preview-wrapper {
    display: inline-block;
    margin-top: 40px;
    margin-left: 30px;
}
div.preview.icon-180 {
  width: 180px;
  height: 180px;
  overflow: hidden;
  img {
    width: 180px;
  }
}
div.preview.icon-50 {
  width: 50px;
  height: 50px;
  overflow: hidden;
  img {
    width: 50px;
  }
}
div.preview.icon-30 {
  width: 30px;
  height: 30px;
  overflow: hidden;
  img {
    width: 30px;
  }
}
.preview-wrapper .preview {
    border: 1px solid #ccc;
    margin: 5px;
}
.preview-wrapper p {
  text-align: center;
  color: #999;
}

#avatar div.divider {
    display: inline-block;
    border-right: 1px solid #ddd;
    height: 260px;
    margin-left: 20px;
    padding: 10px;
    vertical-align: top;
    margin-top: 50px;
}

#user-projects .project-list .project {
    float: none;
    display: inline-block;
    width: 240px;
    margin: 5px;
}

.follow-thumb img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

#follows ul li {
    display: inline-block;
    margin: 10px;
}

#follows ul li:hover img {
  border: 2px solid #E62E4C;
}
